<ng-template #info let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Information</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
        Permissions allow your players or other people to view your Treasury.
        There are 4 permissions that you can set for each person and they are:
      </p>
      <ul>
        <li>View: Allows the user to view your treasury and its contents</li>
        <li>Coin: Allows the user to edit your treasuries coin amounts.</li>
        <li>Valuables: Allows the user to edit your treasuries valuables.</li>
        <li>Treasure: Allows th euser to edit your treasuries treasure.</li>
      </ul>
      <p>
        When adding a new user, you can look them up by entering their
        username.  The input should automatically match
        them with the typeahead and make it easier to select.
      </p>
    </div>
    <div class="modal-footer">
      
    </div>
  </ng-template>

<ng-container class="row" *ngIf="vault.key !== null">
    <div class="row">
      <div class="col-12">
          <h5>Permissions
            <div class="pull-right">
                <button type="button"
                    title="Info"
                    class="btn btn-info"
                    (click)="openModal(info)">
                  <i class="fas fa-info-circle"></i>
                </button>&nbsp;

                <button type="button" 
                  title="Minimize Currencies" 
                  class="minimize btn btn-success"
                  (click)="toggleDisplay()">
                  <i class="fas" [ngClass]="{'fa-chevron-up':showDisplay, 'fa-chevron-down':!showDisplay}"></i>
                </button>
              </div>
          </h5>
      </div>
    </div>
    
    <div class="col-12" *ngIf="!showDisplay">
      <ngx-datatable
      width="100%"
      class="bootstrap"
      [rows]="permissions"
      [columns]="columns"
      [selected]="selected"
      [selectionType]="'single'"
      (activate)="onActivate($event)"
      (select)='onSelect($event)'>
      >
      <ngx-datatable-column prop="user" name="Name" [flexGrow]="1">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{getUserName(value)}}  
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="View" [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
          <ng-template ngx-datatable-header-template let-column="column">
              <span class="datatable-header-cell-label" title="View Permission">{{column.name}}</span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected">
            <input type="checkbox" [checked]="value" disabled="disabled" />
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Coin" [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
          <ng-template ngx-datatable-header-template let-column="column">
              <span class="datatable-header-cell-label" title="Edit Coin Permission">{{column.name}}</span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected">
            <input type="checkbox" [checked]="value" disabled="disabled" />
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="gja" name="Valuables" [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
          <ng-template ngx-datatable-header-template let-column="column">
              <span class="datatable-header-cell-label" title="Edit Valuables Permission">{{column.name}}</span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected">
            <input type="checkbox" [checked]="value" disabled="disabled" />
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="item" name="Treasure" [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
          <ng-template ngx-datatable-header-template let-column="column">
              <span class="datatable-header-cell-label" title="Edit Treasure Permission">{{column.name}}</span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected">
            <input type="checkbox" [checked]="value" disabled="disabled" />
          </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    </div>
    
    <div class="row">
      <div class="col-12">
        <div class="btn-group btn-group-lg d-flex" role="group" aria-label="..."> 
          <button type="button" class="btn btn-secondary btn-primary w-100" (click)="createPermission()">New</button>
          <button type="button" class="btn btn-secondary btn-info w-100" (click)="editPermission()" [disabled]="!selectedPermissions">Edit</button>
          <button type="button" class="btn btn-secondary btn-danger w-100" (click)="deletePermission()" [disabled]="!selectedPermissions">Delete</button>
        </div>
      </div>
    </div>
  </ng-container>
  