<div class="row top-margin">
  <div class="col-11" *ngIf="vault && vault.rewardPrep">
    <a class="btn btn-lg btn-info btn-block"
      [routerLink]="['/rewardprep/new',vault.key]">
      <span>Create Reward Prep</span>
    </a>
  </div>
  <div class="col-1">
      <button class="btn btn-lg btn-info btn-block" (click)="openModal(info)">
        <i class="fas fa-info-circle"></i>
      </button>
    </div>
</div>
<div class="row" *ngIf="rewardprep.length>0 && vault.rewardPrep">
    <div class="col-12">
        <ngx-datatable
        class="bootstrap"
        [columnMode]="'force'"
        [rows]="rewardprep"
        [limit]="25"
        [rowHeight]="'auto'"
        [columns]="prepColumns"
        >
        
          <ngx-datatable-column name="Name"></ngx-datatable-column>
          <ngx-datatable-column name="Vault">
              <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected">
                  {{vaultName(value)}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Timestamp">
              <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected">
                  {{convertTimestamp(value)}}
                </ng-template>
            </ngx-datatable-column>     
            <ngx-datatable-column name="Transfer" [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                  <button
                    title="Transfer prepared rewards to Party Treasury"
                    class="btn btn-primary btn-sm"
                    (click)="transferPrep(row)">
                    <i class="fas fa-sign-in-alt"></i>
                  </button>                    
                </ng-template>
              </ngx-datatable-column>    
            <ngx-datatable-column name="Edit" [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                  <button
                    class="btn btn-info btn-sm"
                    (click)="editPrep(row)">
                    <i class="far fa-edit"></i>
                  </button>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Delete" [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                  <button
                    class="btn btn-danger btn-sm"
                    (click)="deletePrep(row)">
                    <i class="far fa-trash-alt"></i>
                  </button>                    
                </ng-template>
              </ngx-datatable-column>     
        </ngx-datatable>
  </div>
</div>


<ng-template #info let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Information</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Reward Prep is used to create rewards in advance that you can
      then transfer directly into the parties treasury with the click
      of a single button.
    </p>
    <p>
      Clicking Create Reward Prep will take you to a new screen
      that will closely resemble a party treasury.  Items and currency
      that you add to this screen will be held seperate until 
      you click the Transfer button.
    </p>
    <p>
      Clicking Transfer will immediately remove the Reward Prep and 
      transfer all of its contents to the parties treasury.
    </p>
  </div>
  <div class="modal-footer">
    
  </div>
</ng-template>