<div class="row">
  <div class="col-12">
    <a class="btn btn-lg btn-info btn-block"
      routerLink="/vaults/new"  
    >
      <span>Create Treasury</span>
  </a>
  </div>
</div>
<div class="row" *ngIf="vault.length>0">

  <div class="col-12">
      <ngx-datatable
      class="bootstrap"
      [columnMode]="'force'"
      [rows]="vault"
      [limit]="25"
      [rowHeight]="'auto'"
      [columns]="vaultColumns"
      [selected]="vaultSelected"
      [selectionType]="'single'"
      (activate)="onVaultActivate($event)"
      (select)='onVaultSelect($event)'>
      >
      
        <ngx-datatable-column name="Name"></ngx-datatable-column>
        <ngx-datatable-column name="Theme">
            <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected">
              {{themeName(value)}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="gbMarkup" name="VBMarkup">
            <ng-template ngx-datatable-header-template let-column="column">
                <span class="datatable-header-cell-label" title="Valuable Item Buy Markup">{{column.name}}</span>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected">
              {{value}}%
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="gsMarkup" name="VSMarkup">
            <ng-template ngx-datatable-header-template let-column="column">
                <span class="datatable-header-cell-label" title="Valuable Item Sell Markup">{{column.name}}</span>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected">
              {{value}}%
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="ibMarkup" name="TBMarkup">
            <ng-template ngx-datatable-header-template let-column="column">
                <span class="datatable-header-cell-label" title="Treasure Buy Markup">{{column.name}}</span>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected">
              {{value}}%
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="isMarkup" name="TSMarkup">
            <ng-template ngx-datatable-header-template let-column="column">
                <span class="datatable-header-cell-label" title="Treasure Sell Markup">{{column.name}}</span>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected">
              {{value}}%
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="baseCurrency" name="Base$">
            <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected">
              {{currencyName(value)}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="commonCurrency" name="Common$">
            <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected">
              {{currencyName(value)}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Split" [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
            <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected">
              <input type="checkbox" [checked]="value" disabled="disabled" />
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Active" [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
            <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected">
              <input type="checkbox" [checked]="value" disabled="disabled" />
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="History" [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
              <button
                class="btn btn-primary btn-sm"
                (click)="vaultHistory(row)">
                <i class="fas fa-history"></i>
              </button>                    
            </ng-template>
          </ngx-datatable-column>
        <ngx-datatable-column name="Edit" [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
              <button
                class="btn btn-info btn-sm"
                (click)="editVault(row)">
                <i class="far fa-edit"></i>
              </button>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Delete" [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
              <button
                class="btn btn-danger btn-sm"
                (click)="deleteVault(row)">
                <i class="far fa-trash-alt"></i>
              </button>                    
            </ng-template>
          </ngx-datatable-column>
      </ngx-datatable>
  </div>
</div>
<div class="row" *ngIf="appUser && vault.length===0">
  <h4>Getting Started</h4>
  <p>
    Welcome, if you are joining to be a member of another game, 
    you don't need to do anything else from this point other than
    let your GM know you have joined so that they can give you 
    permission to view their game.
  </p>
  <p>
    If you are a new GM or a player who wishes to use the Treasury
    to manage your characters inventory.  The first step is to click
    the Create Treasury button above to get started.
  </p>

</div>
<reward-prep-list [vault]="selectedVault"></reward-prep-list>
