<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
              <h4>Add Currency
                <div class="pull-right">
                  <button type="button" title="Minimize Currency List" class="minimize btn btn-success"><i class="fas fa-chevron-up"></i></button>
                </div>
              </h4>
            </div>
            <div class="card-body">
              <div class="row" *ngFor="let currency of currencies">
                <div class="col-12">
                    <div class="input-group">
                        <input type="text" class="form-control" [id]="currency.key" [name]="currency.key" [placeholder]="currency.name">
                        <span class="input-group-btn">
                          <button class="btn btn-success addCurrency" [value]="currency.key" type="button"><i class="fas fa-plus"></i></button>
                          <button class="btn btn-danger subtractCurrency" [value]="currency.key" type="button"><i class="fas fa-minus"></i></button>
                        </span>
                      </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="partyNum">Party Split</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="partyNum" name="partyNum" placeholder="# in Party">
                        <span class="input-group-btn">
                          <button id="splitPartyCoin" name="splitPartyCoin" class="btn btn-success">Split</button>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                      <label>Include Treasury in Split?</label>  
                      <div class="form-group">
                          <span class="switch">
                            <input type="checkbox" class="switch" id="split" [(ngModel)]="vault.split" name="split">
                            <label for="split" *ngIf="vault.split">On</label>
                            <label for="split" *ngIf="!vault.split">Off</label>
                          </span>
                        </div>
                        
                        
                  </div>
              </div>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
    </div>
  </div>