<div class="container" *ngIf="permission">
    <div class="row">
      <div class="col-12">
        <form #permissionForm="ngForm">
          <div class="row">
            <div class="col-12">
                <label for="user">User</label>
                <div class="input-group">
                    <input
                  [(ngModel)]="permission.user"
                  id="user"
                  name="user"
                  type="text"
                  style="display:none"
                />
                <input [(ngModel)]="userName" name="username" type="text" class="form-control" [ngbTypeahead]="nameSearch" (selectItem)="selected($event)" [resultFormatter]="formatter" autofocus placeholder="User Name" *ngIf="!searchByEmail"/>
                <!--
                   <input #name="ngModel" [(ngModel)]="userEmail" name="email" type="text" class="form-control" [ngbTypeahead]="emailSearch" (selectItem)="selected($event)" [resultFormatter]="formatter" autofocus placeholder="User Email" *ngIf="searchByEmail"/>
                    <div class="input-group-append" id="button-addon4">
                      <button class="btn btn-info" (click)="searchByEmail=false" [disabled]="!searchByEmail" type="button"><i class="fas fa-user"></i></button>
                      <button class="btn btn-info" (click)="searchByEmail=true" [disabled]="searchByEmail" type="button"><i class="fas fa-at"></i></button>
                    </div>
                -->
                  </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label for="View">View Treasury</label>
              <input
                #view="ngModel"
                [(ngModel)]="permission.view"
                id="view"
                name="view"
                class="form-control"
                type="checkbox">            
            </div>
            
          </div>
          <div class="row">
            <div class="col-12">
              <label for="Coin">Edit Coin</label>
              <input
                #coin="ngModel"
                [(ngModel)]="permission.coin"
                id="coin"
                name="coin"
                class="form-control"
                type="checkbox">            
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label for="gja">Edit Valuables</label>
              <input
                #gja="ngModel"
                [(ngModel)]="permission.gja"
                id="gja"
                name="gja"
                class="form-control"
                type="checkbox">            
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label for="item">Edit Treasure</label>
              <input
                #item="ngModel"
                [(ngModel)]="permission.item"
                id="item"
                name="item"
                class="form-control"
                type="checkbox">    
                <input
                #key="ngModel"
                [(ngModel)]="permission.key"
                id="key"
                name="key"
                style="display:none"
                type="text">            
            </div>
          </div>
          
          <div class="row top-margin">
            <div class="col-12">
                <div class="btn-group btn-group-lg d-flex" role="group" aria-label="..."> 
                    <button class="btn btn-primary w-100" (click)="save()">
                      Save
                    </button>
                    <button type="button" class="btn btn-primary w-100" (click)="cancel()">
                      Cancel
                    </button>
                    <button type="button" class="btn btn-danger w-100" (click)="delete()">
                      Delete
                    </button>
                </div>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
  