<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
              <h4>Add Currency
                <div class="pull-right">
                  <button type="button" 
                    title="Minimize Add Currencies"
                    class="minimize btn btn-success"
                    (click)="toggleDisplay()">
                    <i class="fas" [ngClass]="{'fa-chevron-up':showDisplay, 'fa-chevron-down':!showDisplay}"></i>
                  </button>
                </div>
              </h4>
            </div>
            <div class="card-body" [ngClass]="{'hidden-body':showDisplay}">
              <div class="row top-margin-small" *ngFor="let currency of currencies">
                <div class="col-12">
                  <coin-input-form [currency]="currency"></coin-input-form>
                </div>
              </div>
              <div class="row top-margin">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="partyNum">Party Split</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="partyNum" id="partyNum" name="partyNum" placeholder="# in Party">
                        <span class="input-group-append">
                          <button id="splitPartyCoin" name="splitPartyCoin" class="btn btn-success" (click)="splitCoin()" [disabled]="partyNum<2">Split</button>
                        </span>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-6">
                    <label [title]="splitTitle">Include Treasury in Split?</label>  
                    <span class="switch">
                      <input type="checkbox" class="switch" id="split" [(ngModel)]="vault.treasurySplit" name="split" [title]="splitTitle">
                      <label for="split" *ngIf="vault.treasurySplit" [title]="splitTitle">On</label>
                      <label for="split" *ngIf="!vault.treasurySplit" [title]="splitTitle">Off</label>
                    </span>
                  </div>
                  <div class="col-6">
                    <label [title]="consolidateTitle">Consolidate Coin?</label>  
                    <span class="switch">
                      <input type="checkbox" class="switch" id="merge" [(ngModel)]="vault.mergeSplit" name="merge" [title]="consolidateTitle">
                      <label for="merge" *ngIf="vault.mergeSplit" [title]="consolidateTitle">On</label>
                      <label for="merge" *ngIf="!vault.mergeSplit" [title]="consolidateTitle">Off</label>
                    </span>
                  </div>
              </div>
            </div>
          </div>
    </div>
  </div>