<div class="container">
    <div class="row">
      <div class="col-6">
        <div class="row" *ngIf="vault">
         
        </div>
        <div class="row">
          <div class="col-12">
              <div class="btn-group btn-group-lg d-flex" role="group" aria-label="..."> 
                <button class="btn btn-primary w-100"
                (click)="saveVault()">
                <span>Save</span>
              </button>
              <button class="btn w-100 btn-danger"
                (click)="cancelVault()">
                <span>Cancel</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">

      </div>
    </div>
  </div>