<div class="home-jumbotron jumbotron col-12">
  <h1 class="headerTitle">Party Treasury</h1>
  <img src="/assets/images/treasure_chest.png" style="margin: 0 auto;"/>
  <p class="lead">A Gaming Tool for Roleplaying Groups</p>
          </div>

<div id="home-page-widgets" style="background-color:#663300;">
  <div class="container">
    <div class="row">
      <aside id="_text_widget-3" class="home-widget col-4 text_widget"><img src="/assets/images/money28.png" alt="" class="aligncenter" />
        <div class="textwidget">
          <h2>Prevent Lost Loot!</h2>Keep your loot secure and organized. Drag and Drop your items between containers.		
        </div>
      </aside>
      <aside id="text_widget-5" class="home-widget col-4 text_widget"><img src="/assets/images/two200.png" alt="" class="aligncenter" />
        <div class="textwidget">
          <h2>Share the Wealth</h2>Quickly split treasure between members of the party with the click of a button.
        </div>
      </aside>
      <aside id="text_widget-4" class="home-widget col-4 text_widget"><img src="/assets/images/coin11.png" alt="" class="aligncenter" />
        <div class="textwidget">
          <h2>Free Accounts!</h2>Never spend a penny to join the site and access your Game Masters treasury.
        </div>
      </aside>
  	</div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h1 class="entry-title">Welcome</h1>
    <div class="entry-content">
      <div class="short_blurb py2 pl1 pr1">
        <p>Party Treasury is a web based tool for roleplaying gaming groups to make it easier to manage their party treasure. Only a single member of the group is required to have a Game Master account, all others can use the Player account option to access their groups treasury.  <strong>All account types are now free of charge.</strong></p>
      </div>
      <div class="full-description">
        <h1 style="text-align: center;">Recover the Missing Loot!</h1>
        <p>One of the most annoying things when your playing table top roleplaying games is when the person who is in charge of keeping track of your groups treasure doesn&#8217;t show up for the gaming session or is late.  Maybe they left the notes behind; or maybe their hand writing, or the number of changes to the treasure have made whats actually supposed to be there unreadable or a confused jumbled mess.  Maybe the worst has happened and the information has been lost, trying to rebuild what was there can be a nightmare.</p>
        <h1 style="text-align: center;">What can Party Treasury do?</h1>
        <p>The core functionality of the Party Treasury is to allow a group of people ability to easily control the treasure they receive while adventuring.   At the moment it is focused around fantasy gaming systems, although there are plans to open it up in the future to make it possible for any gaming system to make use of it.</p>
        <p>The core is broken up into three different areas, Currency; Gems, Jewelry &amp; Art; and Items &amp; Equipment.  Each area has the ability to store data of the appropriate type, add new data, remove existing data and in the case of non-currency items, organize them into different containers and drag and drop them between those containers.</p>
        <p>The owner of the treasury has control over allowing other users to access their treasury, they can give permission to access all areas at once, or only give access to specific areas.  They can also give permission to view only, but not make changes.</p>
        <p>For more information, check out the FAQ in the menu up top.</p>
      </div>
    </div>
  </div>
</div>
  
  