<div class="container" *ngIf="vault">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-12">
            <display-currency [vault]="vault"></display-currency>
        </div>
        <div class="col-12">
          <display-valuables [vault]="vault"></display-valuables>
        </div>
        <div class="col-12">
          <display-treasure [vault]="vault"></display-treasure>
        </div>
      </div>
      
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12">
            <edit-currency [vault]="vault" [(split)]="splitTreasure" *ngIf="!splitTreasure"></edit-currency>
            <split-currency [vault]="vault" [(split)]="splitTreasure" *ngIf="splitTreasure"></split-currency>
        </div>
        <div class="col-12 top-margin">
          <edit-valuables [vault]="vault"></edit-valuables>
        </div>
        <div class="col-12 top-margin">
          <edit-treasure [vault]="vault"></edit-treasure>
        </div>
      </div>
    </div>
  </div>
</div>