<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container">
    <div class="branding">
      <h4>
        <a class="navbar-brand" routerLink="/">
          <span class="fas fa-dice-d20"></span>
        </a>
        <span *ngIf="vault">{{vault.name}}</span>
      </h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="nav navbar-nav ml-auto">
          <ng-template #anonymouseUser>
              <li ngbDropdown class="nav-item dropdown">
                  <a ngbDropdownToggle class="nav-link dropdown-toggle"
                    id="dropdown01" 
                    aria-haspopup="true" 
                    aria-expanded="false"><i class="fas fa-bars"></i></a>
                  <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdown01">
                    <a class="dropdown-item" routerLink="/login">Login</a>
                    <a class="dropdown-item" routerLink="/faq">FAQ</a>
                    <a class="dropdown-item" routerLink="/privacy">Privacy</a>
                  </div>
                </li>
            <li class="nav-item">
                
              </li>
          </ng-template>
        
          <li ngbDropdown *ngIf="appUser; else anonymouseUser" class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle"
              id="dropdown01" 
              aria-haspopup="true" 
              aria-expanded="false">{{appUser.name}}</a>
            <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdown01">
              <a class="dropdown-item" routerLink="/vaults">My Vaults</a>
              <treasury-navbar-list user="appUser"></treasury-navbar-list>
              <ng-container *ngIf="appUser.role==='admin'">
                  <a class="dropdown-item" routerLink="/admin">Admin Console</a>
              </ng-container>
              <a class="dropdown-item" routerLink="/rules">My Rules</a>
              <a class="dropdown-item" routerLink="/account">My Account</a>
              <a class="dropdown-item" routerLink="/faq">FAQ</a>
              <a class="dropdown-item" routerLink="/privacy">Privacy</a>
              <a class="dropdown-item" (click)="logout()">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
  </div>  
</nav>