<ng-template #info let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Information</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
        Currencies are required in order for the treasury to function
        correctly.  The treasury bases all of its math on two concepts
        for currency.  The Base Currency which is the lowest form of 
        currency that is used for trade (ie. copper or penny); and the Common
        Currency or the most commonly traded form of currency (ie. gold or dollar).
      </p>
      <p>
        It is also possible to have the same currency set to both the Base
        and Common currencies, such as when in some future settings where
        the only currency is Credit (or maybe Gil or Fol).
      </p>
      <p>
        When creating multiple currencies, your first currency should have
        a multiplier of 1 and should be considered your Base Currency. 
        Each additional currency you create should have its multiplier
        set in reference to its value in the Base Currency such as Silver
        (10 copper) or Gold (100 copper).
      </p>
    </div>
    <div class="modal-footer">
      
    </div>
  </ng-template>

<ng-container class="row" *ngIf="vault.key !== null">
  <div class="row">
    <div class="col-12">
        <h5>Currencies
          <div class="pull-right">
            <button type="button"
              title="Info"
              class="btn btn-info"
              (click)="openModal(info)">
            <i class="fas fa-info-circle"></i>
          </button>&nbsp;
            <button type="button" 
              title="Minimize Currencies" 
              class="minimize btn btn-success"
              (click)="toggleDisplay()">
              <i class="fas" [ngClass]="{'fa-chevron-up':showDisplay, 'fa-chevron-down':!showDisplay}"></i>
            </button>
          </div>
        </h5>
    </div>
  </div>
  
  <div class="row" *ngIf="!currencies || currencies.length===0">
    <div class="col-12">
      <button class="btn btn-primary btn-large w-100" title="Creates common fantasy currencies, Copper, Silver, Gold and Platinum" (click)="createDefaultCurrencies()">Create Default Currencies</button>
    </div>
  </div>
  <div class="col-12" *ngIf="!showDisplay">
    <ngx-datatable
    width="100%"
    class="bootstrap"
    [rows]="currencies"
    [columns]="columns"
    [selected]="selected"
    [selectionType]="'single'"
    (activate)="onActivate($event)"
    (select)='onSelect($event)'>
    >
    <ngx-datatable-column name="Name" [flexGrow]="1"></ngx-datatable-column>
    <ngx-datatable-column prop="abbreviation" name="Abbrv" [headerClass]="'textCenter'" [cellClass]="'textRight'" [width]="80">
        <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="multiplier" name="Mult" [headerClass]="'textCenter'" [cellClass]="'textRight'" [width]="80">
        <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="btn-group btn-group-lg d-flex" role="group" aria-label="..."> 
        <button type="button" class="btn btn-secondary btn-primary w-100" (click)="createCurrency()">New</button>
        <button type="button" class="btn btn-secondary btn-info w-100" (click)="editCurrency()" [disabled]="!selectedCurrency">Edit</button>
        <button type="button" class="btn btn-secondary btn-danger w-100" (click)="deleteCurrency()" [disabled]="!selectedCurrency">Delete</button>
      </div>
    </div>
  </div>
</ng-container>
