<div class="row" *ngIf="valuables">
    <div class="col-12">
      <ngx-datatable
      class="bootstrap"
      [rows]="valuables"
      [columns]="columns"
      [selected]="selected"
      [selectionType]="'single'"
      (activate)="onActivate($event)"
      (select)='onSelect($event)'>
      <ngx-datatable-column name="Name" [flexGrow]="1"></ngx-datatable-column>
      <ngx-datatable-column name="Low Value"></ngx-datatable-column>
      <ngx-datatable-column name="High Value"></ngx-datatable-column>
      <ngx-datatable-column name="Active" [frozenRight]="true" [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected">
            <input type="checkbox" [checked]="value" disabled="disabled" />
          </ng-template>
      </ngx-datatable-column>
      </ngx-datatable>
      <div class="row">
          <div class="col-12">
            <div class="btn-group btn-group-lg d-flex" role="group" aria-label="..."> 
              <button type="button" class="btn btn-secondary btn-primary w-100" (click)="createValuable()">New</button>
              <button type="button" class="btn btn-secondary btn-info w-100" (click)="editValuable()">Edit</button>
              <button type="button" class="btn btn-secondary btn-danger w-100" (click)="deleteValuable()">Delete</button>
            </div>
          </div>
        </div>
    </div>
    <div class="col-6">
      
    </div>
  </div>
  