<div class="container" *ngIf="valuable">
  <div class="row">
    <div class="col-6">
      <form #valuableForm="ngForm" (ngSubmit)="save(valuableForm.value)">
        <div class="form-group row">
          <div class="col-10">
              <label for="name">Name</label>
              <input
                required
                #name="ngModel"
                [(ngModel)]="valuable.name"
                id="name"
                name="name"
                type="text"
                class="form-control"
              />
              <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                Name is required.
              </div>
          </div>

          <div class="col-2">
            <label for="active">Active</label>
            <input
              #active="ngModel"
              [(ngModel)]="valuable.active"
              id="active"
              name="active"
              type="checkbox"
              class="form-control">
          </div>
        </div>
        <div class="row top-margin">
          <div class="col-6">
            <label for="lowvalue">Low Value</label>
              <input
                required
                #lowvalue="ngModel"
                [(ngModel)]="valuable.lowvalue"
                id="lowvalue"
                name="lowvalue"
                type="text"
                class="form-control"
              />
          </div>
        
          <div class="col-6">
            <label for="highvalue">High Value</label>
              <input
                required
                #highvalue="ngModel"
                [(ngModel)]="valuable.highvalue"
                id="highvalue"
                name="highvalue"
                type="text"
                class="form-control"
              />
          </div>
        </div>
        <div class="row top-margin">
          <div class="col-12">
            <label for="parent">Parent</label>
              <select
                required
                #parent="ngModel"
                [(ngModel)]="valuable.parent"
                id="parent"
                name="parent"
                class="form-control"
              >
                <option value="">None</option>
                <option *ngFor="let item of valuables" [value]="item.key">{{item.name}}</option>
              </select>
          </div>
        </div>

        <div class="row top-margin">
          <div class="col-12">
              <div class="btn-group btn-group-lg d-flex" role="group" aria-label="..."> 
                  <button class="btn btn-primary w-100">
                    Save
                  </button>
                  <button type="button" class="btn btn-primary w-100" (click)="cancel()">
                    Cancel
                  </button>
                  <button type="button" class="btn btn-danger w-100" (click)="delete()">
                    Delete
                  </button>
              </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
