<div class="row" *ngIf="editions">
    <div class="col-12">
      <ngx-datatable
      class="bootstrap"
      [rows]="editions"
      [columns]="columns"
      [selected]="selected"
      [selectionType]="'single'"
      (activate)="onActivate($event)"
      (select)='onSelect($event)'>
      <ngx-datatable-column name="Name" [flexGrow]="1"></ngx-datatable-column>
      <ngx-datatable-column name="Value"  [width]="100"></ngx-datatable-column>
      <ngx-datatable-column name="Parent"></ngx-datatable-column>
      <ngx-datatable-column name="Active" [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" cell-class="textCenter">
            <input type="checkbox" [checked]="value" disabled="disabled" />
          </ng-template>
      </ngx-datatable-column>
      </ngx-datatable>
      <div class="row">
          <div class="col-12">
            <div class="btn-group btn-group-lg d-flex" role="group" aria-label="..."> 
              <button type="button" class="btn btn-secondary btn-primary w-100" (click)="createEdition()">New</button>
              <button type="button" class="btn btn-secondary btn-info w-100" (click)="editEdition()">Edit</button>
              <button type="button" class="btn btn-secondary btn-danger w-100" (click)="deleteEdition()">Delete</button>
            </div>
          </div>
        </div>
    </div>
  </div>
  