<ng-container *ngIf="vault && userList">
    <ngb-panel title="History" *ngIf="logList && logList.length>0">
        <div class="row">
          <div class="col-12">
            <ngx-datatable
              class="bootstrap"
              [rows]="logList"
              [columns]="logColumns"
              class="bootstrap"
              [columnMode]="'force'"
              [rowHeight]="30"
              [scrollbarV]="true"
            >
              <ngx-datatable-column name="Source"></ngx-datatable-column>
              <ngx-datatable-column name="ChangeBy" prop="changeby">
                <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected">
                  {{getName(value)}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Timestamp">
                <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected">
                  {{formatDate(value)}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Details" [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                    <button
                      class="btn btn-primary btn-sm"
                      (click)="historyDetails(row)">
                      <i class="fas fa-info-circle"></i>
                    </button>                    
                  </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>        

    </ngb-panel>
  </ng-container>