<div class="row" *ngIf="appUser">
  <div class="col-6">
      <div class="row top-margin">
          <div class="col-4"><b>Name:</b></div>
          <div class="col-8">
            {{appUser.name}}
          </div>
        </div>
      <div class="row top-margin">
        <div class="col-4"><b>Email:</b></div>
        <div class="col-8">
          {{appUser.email}}
        </div>
      </div>
      <div class="row top-margin">
        <div class="col-4"><b>Role:</b></div>
        <div class="col-8">
          {{appUser.role}}
        </div>
      </div>
      <div class="row top-margin">
          <div class="col-4"><b>Theme</b></div>
          <div class="col-8">
            <select class="form-control" name="theme" [(ngModel)]="appUser.theme" (change)="themePreview()">
              <option *ngFor="let theme of themeList" [value]="theme.key">{{theme.name}}</option>
            </select>
          </div>
        </div>
      <div class="row top-margin">
        <div class="col-12">
          <button class="btn btn-primary form-control" (click)="saveUser(appUser)">Save Changes</button>
        </div>
      </div>
  </div>
</div>
